
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
<span>Strategy</span>
<a class="d-flex align-items-center text-muted" href="#">
  <!-- <span data-feather="plus-circle"></span> -->
</a>
</h6>            
<ul class="nav flex-column">
    <li class="nav-item">
        <%= link_to "Content Roadmap", "https://teams.microsoft.com/_#/xlsx/viewer/teams/https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402~2FShared%20Documents~2FGeneral~2FContent%20Strategy~2FWorking%20Files~2FHFE_ContentRoadmap.xlsx?threadId=19%3Acffb7cbb570a4a3189136ab699835722%40thread.skype&baseUrl=https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402&fileId=3BC1B87E-1470-48F5-BC9E-49401EA4DF50&ctx=files&viewerAction=view", target: "_blank", title: "HFE_ContentRoadmap.xlsx", class: "nav-link" %><i class="fa fa-external-link" aria-hidden="true"></i> 
    </li>
    <li class="nav-item">
        <%= link_to "Sitemap", sitemapdetail_path(3), class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Taxonomy", "https://teams.microsoft.com/_#/xlsx/viewer/teams/https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402~2FShared%20Documents~2FGeneral~2FContent%20Strategy~2FWorking%20Files~2FHFE_Taxonomy.xlsx?threadId=19%3Acffb7cbb570a4a3189136ab699835722%40thread.skype&baseUrl=https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402&fileId=192800F2-DC82-4D67-AA22-3C3CB2FAE671&ctx=files&viewerAction=view", target: "_blank", title: "HFE_Taxonomy.xlsx", class: "nav-link" %><i class="fa fa-external-link" aria-hidden="true"></i>
    </li>
    <li class="nav-item">
        <%= link_to "Messaging Architecture", messagingdetail_path(3), class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Engagement Value", "https://teams.microsoft.com/_#/xlsx/viewer/teams/https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402~2FShared%20Documents~2FGeneral~2FContent%20Strategy~2FWorking%20Files~2FEngagement%20Value%20Strategy.xlsx?threadId=19%3Acffb7cbb570a4a3189136ab699835722%40thread.skype&baseUrl=https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402&fileId=0F19D230-0FF3-4C0E-888A-416DEA71F1A5&ctx=files&viewerAction=view", target: "_blank", title: "Engagement Value Strategy.xlsx", class: "nav-link" %><i class="fa fa-external-link" aria-hidden="true"></i>
    </li>
</ul>

<hr class="mt-5 ml-3 mr-3">
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
<span>Content Model</span>
<a class="d-flex align-items-center text-muted" href="#">
  
</a>
</h6>
<ul class="nav flex-column mb-2">
    <li class="nav-item">
    <%= link_to "Component List", components_path, class: "nav-link" %>  
        <span data-feather="plus-circle"></span>
    </li>

<li class="nav-item">
  <a class="nav-link" href="#">
    Sites & Templates
    <span data-feather="plus-circle"></span>
  </a>
        <ul class="nav flex-column mb-2">

            <% @sites = ::Site.order(:name) %>
            <% @sites.each do |site|  %>
                <li class="nav-item"><%= link_to site.name, templatelist_path(site), :class => "subnav-link" %><br>
            <% end %>

        </ul>
</li>

</ul>


<%= render "footer" %>