
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
<span>GLOBAL BRAND ELEMENTS</span>
<a class="d-flex align-items-center text-muted" href="#">
  <!-- <span data-feather="plus-circle"></span> -->
</a>
</h6>            
<ul class="nav flex-column">
    <li class="nav-item">
        <%= link_to "Principles", visualdesign_principles_path, title: "Visual Design Principles", class: "nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Grid", visualdesign_grid_path, title: "Visual Design Grid", class: "nav-link" %>
    </li>

</ul>

<hr class="mt-5 ml-3 mr-3">
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
<span>PROPERTY BRAND ELEMENTS</span>
<a class="d-flex align-items-center text-muted" href="#">
  
</a>
</h6>
<ul class="nav flex-column mb-2">


<li class="nav-item">
  <a class="nav-link" href="#">
    Dollywood
    <span data-feather="plus-circle"></span>
  </a>
        <ul class="nav flex-column mb-2">

                <li class="nav-item"><%= link_to "Typography", visualdesign_dw_typography_path, title: "Dollywood Typography", class: "subnav-link" %></li>
                <li class="nav-item"><%= link_to "Photography", visualdesign_dw_photography_path, title: "Dollywood Photography", class: "subnav-link" %></li>
                <li class="nav-item"><%= link_to "Components", "#", title: "Components", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Hero", visualdesign_dw_components_hero_path, title: "Hero", class: "subnav-link" %></li>        
                <li class="nav-item"><%= link_to "Navigation", visualdesign_dw_components_navigation_path, title: "Navigation", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Action Bar", visualdesign_dw_components_actionbar_path, title: "Action Bar", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Footer", visualdesign_dw_components_footer_path, title: "Footer", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Social Grid", visualdesign_dw_components_socialgrid_path, title: "Social Grid", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Intro Text", visualdesign_dw_components_introtext_path, title: "Intro Text", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Text Variants", visualdesign_dw_components_textvariants_path, title: "Text Variants", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Promo Panel", visualdesign_dw_components_promopanel_path, title: "Promo Panel", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Image Promo", visualdesign_dw_components_imagepromo_path, title: "Image Promo", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Offset Carousel", visualdesign_dw_components_offsetcarousel_path, title: "Offset Carousel", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Flex Carousel", visualdesign_dw_components_flexcarousel_path, title: "Flex Carousel", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Card Collection", visualdesign_dw_components_cardcollection_path, title: "Card Collection", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Attraction Search", visualdesign_dw_components_attractionsearch_path, title: "Attraction Search", class: "subnav-link" %></li>                 
                <li class="nav-item"><%= link_to "Product Listing", visualdesign_dw_components_productlisting_path, title: "Product Listing", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Hover Collage", visualdesign_dw_components_hovercollage_path, title: "Hover Collage", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Calendar", visualdesign_dw_components_calendar_path, title: "Calendar", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Event Listing", visualdesign_dw_components_eventlisting_path, title: "Event Listing", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Forms", visualdesign_dw_components_forms_path, title: "Forms", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Colors", visualdesign_dw_components_colors_path, title: "Colors", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Icons", visualdesign_dw_components_icons_path, title: "Icons", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Button Styles", visualdesign_dw_components_buttonstyles_path, title: "Button Styles", class: "subnav-link" %></li> 
                </ul>
</li>

<li class="nav-item">
  <a class="nav-link" href="#">
    Newport Aquarium
    <span data-feather="plus-circle"></span>
  </a>
        <ul class="nav flex-column mb-2">

                <li class="nav-item"><%= link_to "Typography", visualdesign_naq_typography_path, title: "Dollywood Typography", class: "subnav-link" %></li>
                <li class="nav-item"><%= link_to "Photography", visualdesign_naq_photography_path, title: "Dollywood Photography", class: "subnav-link" %></li>
                <li class="nav-item"><%= link_to "Components", "#", title: "Components", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Hero", visualdesign_naq_components_hero_path, title: "Hero", class: "subnav-link" %></li>        
                <li class="nav-item"><%= link_to "Navigation", visualdesign_naq_components_navigation_path, title: "Navigation", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Action Bar", visualdesign_naq_components_actionbar_path, title: "Action Bar", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Footer", visualdesign_naq_components_footer_path, title: "Footer", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Social Grid", visualdesign_naq_components_socialgrid_path, title: "Social Grid", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Intro Text", visualdesign_naq_components_introtext_path, title: "Intro Text", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Text Variants", visualdesign_naq_components_textvariants_path, title: "Text Variants", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Promo Panel", visualdesign_naq_components_promopanel_path, title: "Promo Panel", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Image Promo", visualdesign_naq_components_imagepromo_path, title: "Image Promo", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Offset Carousel", visualdesign_naq_components_offsetcarousel_path, title: "Offset Carousel", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Flex Carousel", visualdesign_naq_components_flexcarousel_path, title: "Flex Carousel", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Card Collection", visualdesign_naq_components_cardcollection_path, title: "Card Collection", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Attraction Search", visualdesign_naq_components_attractionsearch_path, title: "Attraction Search", class: "subnav-link" %></li>                 
                <li class="nav-item"><%= link_to "Product Listing", visualdesign_naq_components_productlisting_path, title: "Product Listing", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Hover Collage", visualdesign_naq_components_hovercollage_path, title: "Hover Collage", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Calendar", visualdesign_naq_components_calendar_path, title: "Calendar", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Event Listing", visualdesign_naq_components_eventlisting_path, title: "Event Listing", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Forms", visualdesign_naq_components_forms_path, title: "Forms", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Colors", visualdesign_naq_components_colors_path, title: "Colors", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Icons", visualdesign_naq_components_icons_path, title: "Icons", class: "subnav-link" %></li> 
                <li class="nav-item"><%= link_to "Button Styles", visualdesign_naq_components_buttonstyles_path, title: "Button Styles", class: "subnav-link" %></li> 
                </ul>
</li>

</ul>


<%= render "footer" %>