<section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Defining a Design System</h1>
          <p class="lead text-muted">A design system is a collection of reusable components, <br>guided by clear standards, that can be assembled together <br>to build any number of applications.</p>
          <!-- <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p> -->
        </div>
</section>

  <div class="row">
		<div class="col-sm-3">
      <h2>Design Systems Benefit Everyone</h2>
        <p>When created properly, a design system creates focus, clarity and confidence. In turn, it generates consistency across the brand and the product. As the design becomes more modular and scalable, responsive design patterns and mobile layouts manifest seamlessly. Everything becomes reusable. </p>

        <p>Design systems create safety in the knowledge that the elements you’re using are consistent with every other member on the team. They remove any animosity from the design or development phase and establish clear guidelines and governance. Time devoted to building and maintaining the design system is rewarded with faster speeds to market and a more cost efficient product.</p>

		</div>
    <div class="designsystem col-sm-9">

      <h4 class="designsystem">Design</h4>

        <div class="row">
          <div class="col-sm-4">
            <%= image_tag("/design-system/icon_brand-experience.png", alt: "Consistent Brand Experience", height: "90", width: "99") %>
            <p>Consistent Brand Experience</p>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <%= image_tag("/design-system/icon_resuable.png", alt: "Reusable & Scalable for Responsive Layouts", height: "84", width: "100") %>
            <p>Reusable & Scalable for Responsive Layouts</p>
          </div><!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <%= image_tag("/design-system/icon_ada-compliant.png", alt: "ADA Compliant", height: "97", width: "97") %>
            <p>ADA Compliant</p>
          </div><!-- /.col-sm-4 -->
        </div>

        <h4 class="designsystem">Business</h4>

          <div class="row">
            <div class="col-sm-4">
              <%= image_tag("/design-system/icon_cost-efficiency.png", alt: "Cost Efficiency", height: "101", width: "96") %>
              <p>Cost Efficiency</p>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
              <%= image_tag("/design-system/icon_faster-to-market.png", alt: "Faster Speed to Market", height: "84", width: "100") %>
              <p>Faster Speed to Market</p>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
              <%= image_tag("/design-system/icon_governance.png", alt: "Governance", height: "75", width: "88") %>
              <p>Governance</p>
            </div><!-- /.col-sm-4 -->
          </div>

		</div>

	</div>
  	<hr>
  <div class="row">
    <div class="col-sm">

              <%= render "footer" %>

    </div>
  </div>

</div>
