

  <div class="row">

		<div class="col-sm">


			<h1>Review Checklist</h1>
      <p>The items below require review and collaboration following the Global Content Strategy presentation on 12/18/2018:
      <div class="form-check disabled">
        <ul style="list-style-type: none;">
          <li>
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" disabled>
              <strong>Engagement Value Strategy</strong>
              </label>
              <ul>
                <li>
                HFE review spreadsheet containing Digital Goals, comment in-line on spreadsheet
                </li>
                <li>
                HFE & RP collaborative discussion aligning Digital Goals to progressive levels of guest commitment and points value (1 hour)
                </li>                
                <li>
                    <small> Teams > Files > Content Strategy > <%= link_to "Engagement Value Strategy.xlsx", "https://teams.microsoft.com/_#/xlsx/viewer/teams/https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402~2FShared%20Documents~2FGeneral~2FContent%20Strategy~2FWorking%20Files~2FEngagement%20Value%20Strategy.xlsx?threadId=19%3Acffb7cbb570a4a3189136ab699835722%40thread.skype&baseUrl=https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402&fileId=0F19D230-0FF3-4C0E-888A-416DEA71F1A5&ctx=files&viewerAction=view", target: "_blank" %></small>
                </li>
              </ul>
          </li>
          <li>
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" disabled>
              <strong>Content Strategy Roadmap</strong>
              </label>
              <ul>
                <li>
                HFE review spreadsheet containing Content Roadmap, comment in-line on spreadsheet
                </li>
                <li>
                HFE & RP collaborative discussion with Rightpoint for Content Roadmap alignment and refinement (1 hour, additional as needed)
                </li>                
                <li>
                    <small> Teams > Files > Content Strategy > <%= link_to "HFE_ContentRoadmap.xlsx", "https://teams.microsoft.com/_#/xlsx/viewer/teams/https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402~2FShared%20Documents~2FGeneral~2FContent%20Strategy~2FWorking%20Files~2FHFE_ContentRoadmap.xlsx?threadId=19%3Acffb7cbb570a4a3189136ab699835722%40thread.skype&baseUrl=https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402&fileId=3BC1B87E-1470-48F5-BC9E-49401EA4DF50&ctx=files&viewerAction=view", target: "_blank" %></small>
                </li>
              </ul>
          </li>
          <li>
              <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" disabled>
              <strong>Taxonomy & Tagging Approach</strong>
              </label>
              <ul>
                <li>
                HFE review spreadsheet containing Taxonomy, comment in-line on spreadsheet
                </li>
                <li>
                HFE & RP collaborative discussion aligning Taxonomy approach, identify key taxonomy categories for targeted content (1 hour)
                </li>                
                <li>
                    <small> Teams > Files > Content Strategy > <%= link_to "HFE_Taxonomy.xlsx", "https://teams.microsoft.com/_#/xlsx/viewer/teams/https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402~2FShared%20Documents~2FGeneral~2FContent%20Strategy~2FWorking%20Files~2FHFE_Taxonomy.xlsx?threadId=19%3Acffb7cbb570a4a3189136ab699835722%40thread.skype&baseUrl=https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402&fileId=192800F2-DC82-4D67-AA22-3C3CB2FAE671&ctx=files&viewerAction=view", target: "_blank" %></small>
                </li>
              </ul>
          </li>
          <li>
              <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" disabled>
              <strong>Messaging Architecture</strong>
              </label>
              <ul>
                <li>
                HFE review spreadsheet containing Messaging Architecture, comment in-line on spreadsheet
                </li>
                <li>
                HFE & RP collaborative discussion to align on approach, key personas and next steps for messaging (1 hour)
                </li>   
                <li>
                    <small> Teams > Files > Content Strategy > <%= link_to "HFE_MessagingArchitecture.xlsx", "https://teams.microsoft.com/_#/xlsx/viewer/teams/https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402~2FShared%20Documents~2FGeneral~2FContent%20Strategy~2FWorking%20Files~2FHFE_MessagingArchitecture.xlsx?threadId=19%3Acffb7cbb570a4a3189136ab699835722%40thread.skype&baseUrl=https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402&fileId=D9C84F22-8A19-40EE-847D-18CA30CBCB8E&ctx=files&viewerAction=view", target: "_blank" %></small>
                </li>
              </ul>
          </li>
          <li>
              <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" disabled>
              <strong>High-Level Governance Approach</strong>
              </label>
              <ul>
                <li>
                Review presentation section on High-Level Governance (Slide 59), use PowerPoint Comments for review comments
                </li>
                <li>
                HFE & RP collaborative discussion to align on approach and considerations for governance (1 hour)
                </li>   
                <li>
                HFE & RP identify potential areas for change management (included with above)
                </li>                  <li>
                    <small> Teams > Files > Content Strategy > <%= link_to "HFE_ContentStrategy_2018.pptx", "https://teams.microsoft.com/_#/pptx/viewer/teams/https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402~2FShared%20Documents~2FGeneral~2FContent%20Strategy~2FWorking%20Files~2FContent%20Strategy~2FHFE_ContentStrategy_2018.pptx?threadId=19%3Acffb7cbb570a4a3189136ab699835722%40thread.skype&baseUrl=https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402&fileId=E8A3B138-2E6A-4A2E-AF4F-07236A009688&ctx=files&viewerAction=view", target: "_blank" %></small>
                </li>
              </ul>
          </li>
          <li>
              <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" disabled>
              <strong>Analytics & Measurement</strong> 
            </label>
              <ul>
                <li>
                HFE review presentation section on Analytics & Measurement (Slide 65), use PowerPoint Comments for review comments
                </li>
                <li>
                HFE & RP collaborative discussion to align on approach and considerations for analytics and measurement  (30 min.)
                </li>                
                <li>
                    <small> Teams > Files > Content Strategy > <%= link_to "HFE_ContentStrategy_2018.pptx", "https://teams.microsoft.com/_#/pptx/viewer/teams/https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402~2FShared%20Documents~2FGeneral~2FContent%20Strategy~2FWorking%20Files~2FContent%20Strategy~2FHFE_ContentStrategy_2018.pptx?threadId=19%3Acffb7cbb570a4a3189136ab699835722%40thread.skype&baseUrl=https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402&fileId=E8A3B138-2E6A-4A2E-AF4F-07236A009688&ctx=files&viewerAction=view", target: "_blank" %></small>
                </li>
              </ul>
          </li>
          <li>
              <label class="form-check-label">
              <input class="form-check-input" type="checkbox" value="" disabled>
              <strong>Gap Analysis</strong>
              </label>
              <ul>
                <li>
                HFE review presentation section on Gap Analysis (Slide 72), use PowerPoint Comments for review comments
                </li>
                <li>
                HFE & RP collaborative discussion aligning and refining Gap areas for attention (30 min.)
                </li>                
                <li>
                    <small> Teams > Files > Content Strategy > <%= link_to "HFE_ContentStrategy_2018.pptx", "https://teams.microsoft.com/_#/pptx/viewer/teams/https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402~2FShared%20Documents~2FGeneral~2FContent%20Strategy~2FWorking%20Files~2FContent%20Strategy~2FHFE_ContentStrategy_2018.pptx?threadId=19%3Acffb7cbb570a4a3189136ab699835722%40thread.skype&baseUrl=https%3A~2F~2Frpo365.sharepoint.com~2Fsites~2FP17402&fileId=E8A3B138-2E6A-4A2E-AF4F-07236A009688&ctx=files&viewerAction=view", target: "_blank" %></small>
                </li>
              </ul>
          </li>
        </ul>
      </div>




		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-sm">

        <%= render "footer" %>

    </div>
  </div>