<% @templatelist = ::Template.joins( :site_template_mappings ).where( site_template_mappings: { site_id: (params[:id]) }).order(:id) %>
<% @site = Site.find(params[:id]) %>

  <div class="row">
    <!-- left column -->
		<div class="col-sm-3">

      <%= render "siteContentModel" %>

      <hr>

      <h5><%= @site.name %></h5>
      <ol>
        <% @templatelist.each do |listitem| %>
          <li>

            <%= link_to listitem.name, templatedetail_path(:id => listitem.id, :site => @site.id) %>

          </li>
        <% end %>
      </ol>


		</div>
    <!-- right column -->
		<div class="col-sm-9">

      <h1>Templates<small class="text-muted"> <%= @site.name %></small></h1>
      <%= link_to "Realtime Boards : Content Model", "https://realtimeboard.com/app/board/o9J_kytiCp4=/", :class => "btn btn-info", target: "_blank" %>


          <p>



      <% @templatelist.each do |tl| %>
        <div style="float:left;width=300px;padding:10px;">
        <%= link_to tl.name, templatedetail_path(:id => tl.id, :site => @site.id) %>
            <% @cinstance = TemplateComponent.order(:position).includes(:component, :template).references(:component, :template).where ({template_id: tl.id}) %>

            <% @cinstance.each do |c| %>
              <div style="margin-bottom:1px; padding-left:5px;background-color:<%= c.component.component_group.color %>;">
                <small><%= c.component.name %></small>

              </div>
            <% end%>

        </div>

      <% end %>


    </div>

    </div>

  	<hr>
  <div class="row">
    <div class="col-sm">

        <%= render "footer" %>

    </div>
  </div>
