<% @thistemplate = ::Template.find(params[:id])
   @site = Site.find(params[:site])
%>


    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "ExperienceGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<!-- PAGE HEADING -->

<h1><%= @thistemplate.name %>

<% if @thistemplate.existing == true %>
<span class="badge badge-light">Existing</span>
<% else %>
<% end %>
<br><small class="text-muted">Page Template</small>
</h1>
<!-- END PAGE HEADING -->


<!-- BEGIN MESSAGING SECTION -->

<h4>Messaging</h4>
<% @templatemessage = HierarchyMapping.where template_id: (params[:id]) %>
<% @templatemessage.each do |h| %>
    <h5><%= h.hierarchy.name.html_safe %></h5>
    <p><%= h.hierarchy.description.html_safe %>
        <p><%= link_to "Audience Message Guide", "#myModal", :class => "btn btn-info align-center", "data-toggle" => "modal" %>
          <!-- , "#my-modal", :class => "btn", "data-toggle" => "modal"  -->
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title"><small><%= @site.name %></small><br><%= h.hierarchy.name.html_safe %></h3>
                      </div>
                      <div class="modal-body">

                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Audience</th>
                              <th scope="col">Message</th>
                            </tr>
                          </thead>
                          <tbody>


                          <% @audiencemessage = AudienceMessage.joins(:audience, :site).where(hierarchy_id: h.hierarchy.id, site_id: @site.id) %>
                          <% @audiencemessage.each do |m| %>
                            <tr>
                              <td scope="row" width="30%"><h4><%= m.audience.name %></h4></td>
                              <td><p><%= m.message %></p></td>
                            </tr>
                          <% end %>

                        </tbody>
                      </table>


                        <!-- <p><img style="width:100%;" src="http://contentmodel-jci-assets.s3.amazonaws.com/images/WebFootprint_HighLevel_v4.png"></p> -->
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>




<% end %>
<hr>
<!-- END MESSAGING SECTION -->


    <!-- TAB MENU FOR PAGE TEMPLATE -->

    <nav>
      <div class="nav nav-tabs  justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-priority-tab" data-toggle="tab" href="#nav-priority" role="tab" aria-controls="nav-priority" aria-selected="true">Priority Guide</a>
        <a class="nav-item nav-link" id="nav-design-tab" data-toggle="tab" href="#nav-design" role="tab" aria-controls="nav-design" aria-selected="false">Design</a>
        <a class="nav-item nav-link" id="nav-component-tab" data-toggle="tab" href="#nav-component" role="tab" aria-controls="nav-component" aria-selected="false">Components</a>
      </div>
    </nav>

    <!-- END TAB MENU FOR PAGE TEMPLATE -->      





    <div class="tab-content" id="nav-tabContent" style="padding:20px 15px 0px 15px;">

    <div class="tab-pane fade show active" id="nav-priority" role="tabpanel" aria-labelledby="nav-priority-tab">
        <h4>Purpose</h4>
        <p><%= @thistemplate.page_purpose %></p>

                <% @cinstance = TemplatePriority.order(:position).includes(:priority, :template).references(:priority, :template, :intent).where ({template_id: @thistemplate.id}) %>

                <% @cinstance.each do |c| %>
                  <div class="card" style="margin-bottom:15px; background-color:<%= c.priority.intent.color %>;">
                    <div class="card-body">
                      <h5 class="card-title"><%= c.priority.name %>&nbsp;<span class="badge badge-light"><%= c.priority.intent.name %></span></h5>
                      <p class="card-text"><%= c.priority.goal %>
                    </div>
                  </div>
                <% end%>      
    </div>
    
    
    <div class="tab-pane fade" id="nav-design" role="tabpanel" aria-labelledby="nav-design-tab">

      <% if @thistemplate.image.blank? == false %>
        <p class="text-center"><small><%= link_to "Launch Design in New Window", @thistemplate.image, target: "_blank" %></small></p>
        <iframe style="width:100%; height:1000px; margin: 0 0 30px 0; border:#ccc 1px dotted;" src="<%= @thistemplate.image %>">
        <p>Placeholder text; only shows up if the page DOESN'T render!</p>
        </iframe>
      <% else %>
      <% end %>

    </div>
    
    
    <div class="tab-pane fade" id="nav-component" role="tabpanel" aria-labelledby="nav-component-tab">

        <div class="tab-pane fade show active" id="nav-priority" role="tabpanel" aria-labelledby="nav-priority-tab">
                    <% @cinstance = TemplateComponent.order(:position).includes(:component, :template).references(:component, :template).where ({template_id: @thistemplate.id}) %>
                    <% @cinstance.each do |c| %>
                      <div class="card" style="margin-bottom:15px; background-color:<%= c.component.component_group.color %>">
                        <div class="card-body">
                          <h5 class="card-title"><%= c.component.name %>&nbsp;<span class="badge badge-light"><%= c.component.component_group.name %></span></h5>
                          <p class="card-text"><%= c.component.goal %>
                          <p><strong>Tags</strong><br>
                          <% #@tags = TagMapping.order(:order).includes(:component, :tag).references(:component, :tag).where ({component_id: c.id}) %>
                          <% #@tags.each do |t| %>
                            <%#= t.id %> <%#= t.name %><br>
                          <%# end %>

                        </div>
                      </div>
                    <% end%>      
        </div>

	</div>
</div>

            
     
</main>  
                    
</div>
</div>



