

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Dollywood Brand Elements</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">Components: Navigation</h1>

</div>


<hr class="mt-5">
<h5 class="font-weight-bold">Main Utility & Navigation</h5>
<div class="row mt-5">

        <div class="col-sm-6">
            <p><%= image_tag("/design-system/photography/dw-desktop-nav.jpg", alt: "Desktop Navigation") %></p>
            <p><%= image_tag("/design-system/photography/dw-mobile-nav.jpg", alt: "Mobile Navigation") %></p>
        </div>

        <div class="col-sm-6">

            <h5 class="font-weight-bold mb-5">Navigation - Layout and Rules</h5>

            <p>The system allows for two levels of navigation 
            at the top of the page, the utility and main. 
            The most important items should be listed in 
            the main navigation. Less important items that account for utilitarian uses should be put into the utility nav.</p>
            
            <p>On mobile, the content should be taken down to the bare necessities on the page. I.e. menu, contact, search and cart.
            </p>

            </div>
</div>

<hr class="mt-5">
<h5 class="font-weight-bold">Mega Menu</h5>
<div class="row mt-5">

        <div class="col-sm-6">
            <p><%= image_tag("/design-system/photography/dw-desktop-megamenu.png", alt: "Desktop Mega Menu") %></p>
        </div>

        <div class="col-sm-6">

            <h5 class="font-weight-bold mb-5">Mega Menu - Desktop</h5>

            <p>The mega menu has three layers of navigation elements available for content authors.</p>

            <p><strong>Primary links:</strong> these text links house any primary navigational elements. The header and text links are all clickable.</p>
            
            <p><strong>Featured links:</strong> these small images with links relate to any other elements within the navigation that deserve a larger callout. I.e. ‘Tickets & Pricing’ or ‘Special Offers.’</p>
            
            <p><strong>Promotional blocks:</strong> these optional blocks house up to three promotional items per menu.</p>

            </div>
</div>

<div class="row my-5">

        <div class="col-sm-6">
            <p><%= image_tag("/design-system/photography/dw-mobile-megamenu.png", alt: "Mobile Mega Menu") %></p>
        </div>

        <div class="col-sm-6">

            <h5 class="font-weight-bold mb-5">Mega Menu - Mobile</h5>

            <p>The mega menu has three levels deep of navigation available for all primary links. </p>

            <p><strong>Primary level:</strong>  the first level houses all main navigation links, as well as any other main & utility navigation items that do not fit into the page  (i.e. account, hours & calendar, etc.)
                </p>
            
            <p><strong>Seconary level:</strong> the second level houses all primary and featured links, as well as any promotional blocks.</p>
            
            <p><strong>Tertiary level:</strong> the third level houses any sub-level links beneath the secondary level. (see the example to the left)</p>

            </div>
</div>            
              
     
</main>  
                    
</div>
</div>



