<!DOCTYPE html>
<html>
  <head>
    <title>HFE Design System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
          </script>
        <![endif]-->
    <style type="text/css">
        body{
        	padding-top: 70px;
        }
    </style>
    <meta charset="utf-8">

    <!-- Google Tag Manager -->
    <% if Rails.env.production? %>
    <script>
    document.addEventListener('turbolinks:load', function(event) {
      var url = event.data.url;  dataLayer.push({
        'event':'pageView',
        'virtualUrl': url
      });
    });(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P76GQ78');
    </script>
    <% end %>
    <!-- End Google Tag Manager -->

  </head>

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P76GQ78"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav id="myNavbar" class="navbar navbar-light fixed-top bg-light navbar-expand-lg shadow flex-md-nowrap" role="navigation">
        
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="#"><img src="/assets/chrome/hfe_design_system.png" alt = "Herschend Family Entertainment" height="30" style="margin:0 13px 0 0;">HFE Design System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto pr-5 mt-2 mt-lg-0">
          <li class="nav-item"><a class="nav-link" href="#">Visual Design</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Wireframes</a></li>
          <li class="nav-item"><%= link_to "Experience Guide", home_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Admin", "/admin", class: "nav-link" %></li>
        </ul>

          <span class="navbar-text mr-5">
            <small>
              <% if admin_user_signed_in? %>
                Logged in as <strong><% if current_admin_user.first_name? %><%= current_admin_user.first_name %> <%= current_admin_user.last_name %><% else %><%= current_admin_user.email %><% end %></strong>
                <%#= link_to 'Edit profile', edit_admin_user_password_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_admin_user_session_path, method: :delete, :class => 'navbar-link'  %>
              <% else %>
                <%= link_to "Sign up", new_admin_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_admin_user_session_path, :class => 'navbar-link'  %>
              <% end %>
            </small>
          </span>
      </div>

</nav>


<div class="container-fluid">
  <div class="row">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>



    <%= yield %>

  </div>
</div>
  </body>
</html>
